<style>
    img {
        width: 100%;
        height: 100%;
    }
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    .focus {
        display: initial;
    }
    .unfocus {
        display: none;
    }
    .settingsbtn {
        position: absolute;
        right: 10px;
        top: 10px;
        height: 50px;
        width: 120px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px black solid;
        transition-duration: 150ms;
        opacity: 20%;
    }
    .settingsbtn:hover {
        opacity: 100%;
    }
    .backbtn {
        position: absolute;
        right: 140px;
        top: 10px;
        height: 50px;
        width: 120px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px black solid;
        transition-duration: 150ms;
        opacity: 20%;
    }
    .backbtn:hover {
        opacity: 100%;
    }
    .settingbase {
        position: absolute;
        right: 10px;
        top: 70px;
        height: 50px;
        width: 120px;
        background-color: white;
        border: 1px black solid;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 150ms;
        opacity: 20%;
    }
    .settingbase:hover {
        opacity: 100%;
    }
    .settingfood {
        position: absolute;
        right: 10px;
        top: 130px;
        height: 50px;
        width: 120px;
        background-color: white;
        border: 1px black solid;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 150ms;
        opacity: 20%;
    }
    .settingfood:hover {
        opacity: 100%;
    }
    .footnote {
        position: absolute;
        bottom: 10px;
        width: 100vw;
        height: 10px;
        text-align: center;
    }
</style>

<body>
    <div id="viewbox">
        <div id="settings">
            <div id="settingsbtn" class="settingsbtn">Settings</div>
            <div id="menu" class="unfocus">
                <div id="backbtn" class="backbtn" onclick="window.location='https://rus1130.github.io/projects/coloria2/view/hmld-menu'">Back</div>
                <div id="basebtn" class="settingbase">Basemap</div>
                <div id="foodbtn" class="settingfood">Common Foods</div>
            </div>
        </div>
        <div id="layers">
            <img id="base" class="focus" src="..\..\maps\hmld-reso\base.png">
            <img id="food" class="unfocus" src="..\..\maps\hmld-reso\food.png">
        </div>
        <div id="footnote" class="footnote">Gargantuan thanks to Matz for providing the resource maps!</div>
    </div>
</body>

<script>
    document.getElementById("settingsbtn").addEventListener("click",function(){
        if(document.getElementById("menu").hasAttribute("class","unfocus")){
            document.getElementById("menu").removeAttribute("class","unfocus")
            document.getElementById("settingsbtn").removeAttribute("style","opacity: 100%;")
        } else {
            document.getElementById("menu").setAttribute("class","unfocus")
        }
    })

    document.getElementById("basebtn").addEventListener("click",function(){
        if(document.getElementById("base").hasAttribute("class","unfocus")){
            document.getElementById("base").setAttribute("class","focus")
            document.getElementById("food").setAttribute("class","unfocus")
        } else {
            return;
        }
    })

    document.getElementById("foodbtn").addEventListener("click",function(){
        if(document.getElementById("food").hasAttribute("class","unfocus")){
            document.getElementById("base").setAttribute("class","unfocus")
            document.getElementById("food").setAttribute("class","focus")
        } else {
            return;
        }
    })
</script>