
<!DOCTYPE html>
<style>
h1 {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
</style>
<head>
    <title>Coloria 2.0 Homeland Menu</title>
</head>
<body>
    <h1>Homeland Menu (temporary)</h1>
    <button onclick="window.location.href='https://rus1130.github.io/projects/coloria2/view/hmld/geo'">Homeland Geography Map</button>
    <button onclick="window.location='https://rus1130.github.io/projects/coloria2/view/hmld/reso'">Homeland Resource Map</button>
    <button onclick="window.location='https://rus1130.github.io/projects/coloria2/menu'">Back to menu</button>
</body>