
<!DOCTYPE html>

<head>
    <title>Coloria 2.0</title>
    <meta property="og:title" content="Coloria 2.0">
    <meta property="og:description" content="Official website for the Coloria 2.0 project">
    <meta property="og:image" content="https://rus1130.github.io/projects/coloria2/view/images/metaimg.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="362">
</head>

<body>
    <h1>This menu is not final!</h1>
    <button onclick="window.location='subtN-index'">subtN</button>
    <button onclick="window.location.href='subtS-index'">subtS</button>
</body>