<style>
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    #grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        column-gap: 7px;
        row-gap: 3px;
        position: absolute;
    }
    html {
        font-family: Arial, Helvetica, sans-serif;
    }
    select {
        font-size: 12pt;
        border-radius: 0%;
        padding: 5px;
    }
    select:focus {
        font-size: 12pt;
        border-radius: 0%;
        padding: 5px;
    }
    select::-webkit-scrollbar {
        display: none;
    }
    .descriptor {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .value {
        max-width: 400px; 
        padding: 5px;
        font-size: 12pt;
        border-radius: 0%;
        border-width: 1px;
    }
</style>

<head>
    <title>Coloria 2.0 Weight Converter</title>
    <link rel="shortcut icon" type="image/jpg" href="https://rus1130.github.io/projects/coloria2/view/images/metaimg.png"/>
    <meta property="og:title" content="Coloria 2.0 Weight Converter">
    <meta property="og:description" content="Coloria 2.0 Weight Converter">
    <meta property="og:image" content="https://rus1130.github.io/projects/coloria2/view/images/metaimg.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="362">
</head>
<body class="center">
    <div id="grid">
        <span class="descriptor">Convert From:</span>
        <select id="startunit" onchange="createConversion(), getValue()" style="max-width: 400px;">
            <option value="10000">Treeweight (ke)</option>
            <option value="5000">Halftree (ke)</option>
            <option value="2000">Birch (ke)</option>
            <option value="2000">Boatload (st)</option>
            <option value="2000">Boatload (jw)</option>
            <option value="1000">Catch (st)</option>
            <option value="1000">Halfbirch (ke)</option>
            <option value="1000">Half Boatload (jw)</option>
            <option value="666.66">Third Boatload (jw)</option>
            <option value="500">Stump (ke)</option>
            <option value="400">Lift (st)</option>
            <option value="333.33">Sixth Boatload (jw)</option>
            <option value="250">Body (st)</option>
            <option value="250">Halfstump (ke)</option>
            <option value="187">Horseload (cuv)</option>
            <option value="187">Horseload (jw)</option>
            <option value="100">Twig (ke)</option>
            <option value="93.7">Half Horseload (jw)</option>
            <option value="62.7">Third Horseload (jw)</option>
            <option value="50">Halftwig (ke)</option>
            <option value="31.21">Sixth Horseload (jw)</option>
            <option value="25">Quartertwig (ke)</option>
            <option value="14.8">Rockfull (jw)</option>
            <option value="10">Sack (ke)</option>
            <option value="5">Halfsack (ke)</option>
            <option value="2.44">Boulderfull (jw)</option>
            <option value="2.2">Kilogram (E)</option>
            <option value="2">Twicebag (ke)</option>
            <option value="1.2">Rainworth (jw)</option>
            <option value="1">Bag (ke)</option>
            <option value="1">Pound (E)</option>
            <option value="0.5">Halfbag (ke)</option>
            <option value="0.2">Waterworth (jw)</option>
            <option value="0.04">Dropworth (jw)</option>
        </select>
        <span class="descriptor">Value:</span>
        <input class="value" id="amnt" type="text" value="1" onchange="createConversion(), getValue()">
        <span class="descriptor">Convert to:</span>
        <select id="endunit" onchange="createConversion(), getValue()" style="max-width: 400px;">
            <option value="10000">Treeweight (ke)</option>
            <option value="5000">Halftree (ke)</option>
            <option value="2000">Birch (ke)</option>
            <option value="2000">Boatload (st)</option>
            <option value="2000">Boatload (jw)</option>
            <option value="1000">Catch (st)</option>
            <option value="1000">Halfbirch (ke)</option>
            <option value="1000">Half Boatload (jw)</option>
            <option value="666.66">Third Boatload (jw)</option>
            <option value="500">Stump (ke)</option>
            <option value="400">Lift (st)</option>
            <option value="333.33">Sixth Boatload (jw)</option>
            <option value="250">Body (st)</option>
            <option value="250">Halfstump (ke)</option>
            <option value="187">Horseload (cuv)</option>
            <option value="187">Horseload (jw)</option>
            <option value="100">Twig (ke)</option>
            <option value="93.7">Half Horseload (jw)</option>
            <option value="62.7">Third Horseload (jw)</option>
            <option value="50">Halftwig (ke)</option>
            <option value="31.21">Sixth Horseload (jw)</option>
            <option value="25">Quartertwig (ke)</option>
            <option value="14.8">Rockfull (jw)</option>
            <option value="10">Sack (ke)</option>
            <option value="5">Halfsack (ke)</option>
            <option value="2.44">Boulderfull (jw)</option>
            <option value="2.2">Kilogram (E)</option>
            <option value="2">Twicebag (ke)</option>
            <option value="1.2">Rainworth (jw)</option>
            <option value="1">Bag (ke)</option>
            <option value="1">Pound (E)</option>
            <option value="0.5">Halfbag (ke)</option>
            <option value="0.2">Waterworth (jw)</option>
            <option value="0.04">Dropworth (jw)</option>
        </select>
        <span class="descriptor">Output:</span>
        <div>
            <span id="output" style="max-width: 400px;">1</span><span id="referer" style="max-width: 400px;"> Treeweight</span>
        </div>
    </div>
</body>
<script>

let output

function createConversion(){
    var startVal = document.getElementById("startunit").value;
    var convertAmnt = document.getElementById("amnt").value;
    var endVal = document.getElementById("endunit").value;

    output = ((startVal * convertAmnt) / endVal).toLocaleString(10);
    document.getElementById("output").innerHTML = output;
}

function getValue(){
    var select = document.getElementById('endunit');
    var text = select.options[select.selectedIndex].text;
    var sngText = jsonReferer[document.getElementById('endunit').options[document.getElementById('endunit').selectedIndex].text]["sng"]
    var plText = jsonReferer[document.getElementById('endunit').options[document.getElementById('endunit').selectedIndex].text]["pl"]

    if(output == 1){
        document.getElementById("referer").innerHTML = " "+sngText;
    } else {
        document.getElementById("referer").innerHTML = " "+plText;

    }
}
//json =============================================================================

var jsonReferer = {
    "Treeweight (ke)":{
        sng:"Treeweight",
        pl:"Treeweights"
    },
    "Halftree (ke)":{
        sng:"Halftree",
        pl:"Halftrees"
    },
    "Birch (ke)":{
        sng:"Birch",
        pl:"Birches"
    },
    "Boatload (st)":{
        sng:"Boatload",
        pl:"Boatloads"
    },
    "Boatload (jw)":{
        sng:"Boatload",
        pl:"Boatloads"
    },
    "Catch (st)":{
        sng:"Catch",
        pl:"Catches"
    },
    "Halfbirch (ke)":{
        sng:"Halfbirch",
        pl:"Halfbirches"
    },
    "Half Boatload (jw)":{
        sng:"Half Boatload",
        pl:"Half Boatloads"
    },
    "Third Boatload (jw)":{
        sng:"Third Boatload",
        pl:"Third Boatloads"
    },
    "Stump (ke)":{
        sng:"Stump",
        pl:"Stumps"
    },
    "Lift (st)":{
        sng:"Lift",
        pl:"Lifts"
    },
    "Sixth Boatload (jw)":{
        sng:"Sixth Boatload",
        pl:"Sixth Boatloads"
    },
    "Body (st)":{
        sng:"Body",
        pl:"Bodies"
    },
    "Halfstump (ke)":{
        sng:"Halfstump",
        pl:"Halfstumps"
    },
    "Horseload (cuv)":{
        sng:"Horseload",
        pl:"Horseloads"
    },
    "Horseload (jw)":{
        sng:"Horseload",
        pl:"Horseloads"
    },
    "Twig (ke)":{
        sng:"Twig",
        pl:"Twigs"
    },
    "Half Horseload (jw)":{
        sng:"Half Horseload",
        pl:"Half Horseloads"
    },
    "Third Horseload (jw)":{
        sng:"Third Horseload",
        pl:"Third Horseloads"
    },
    "Halftwig (ke)":{
        sng:"Halftwig",
        pl:"Halftwigs"
    },
    "Sixth Horseload (jw)":{
        sng:"Sixth Horseload",
        pl:"Sixth Horseloads"
    },
    "Quartertwig (ke)":{
        sng:"Quartertwig",
        pl:"Quartertwigs"
    },
    "Rockfull (jw)":{
        sng:"Rockfull",
        pl:"Rockfulls"
    },
    "Sack (ke)":{
        sng:"Sack",
        pl:"Sacks"
    },
    "Halfsack (ke)":{
        sng:"Halfsack",
        pl:"Halfsacks"
    },
    "Boulderfull (jw)":{
        sng:"Boulderfull",
        pl:"Boulderfulls"
    },
    "Kilogram (E)":{
        sng:"Kilogram",
        pl:"Kilograms"
    },
    "Twicebag (ke)":{
        sng:"Twicebag",
        pl:"Twicebags"
    },
    "Rainworth (jw)":{
        sng:"Rainworth",
        pl:"Rainworths"
    },
    "Bag (ke)":{
        sng:"Bag",
        pl:"Bags"
    },
    "Pound (E)":{
        sng:"Pound",
        pl:"Pounds"
    },
    "Halfbag (ke)":{
        sng:"Halfbag",
        pl:"Halfbags"
    },
    "Waterworth (jw)":{
        sng:"Waterworth",
        pl:"Waterworths"
    },
    "Dropworth (jw)":{
        sng:"Dropworth",
        pl:"Dropworths"
    },
}
//end json =========================================================================
</script>
