<body>
    this is not finished
    <br>
    convert from:
    <select id="startunit" onchange="createConversion()">
        <option value="10000">Treeweight (ke)</option>
        <option value="5000">Halftree (ke)</option>
        <option value="2000">Birch (ke)</option>
        <option value="2000">Boatload (st)</option>
        <option value="2000">Boatload (jw)</option>
        <option value="1000">Catch (st)</option>
        <option value="1000">Halfbirch (ke)</option>
        <option value="1000">Half Boatload (jw)</option>
        <option value="666.66">Third Boatload (jw)</option>
        <option value="500">Stump (ke)</option>
        <option value="400">Lift (st)</option>
        <option value="333.33">Sixth Boatload (jw)</option>
        <option value="250">Body (st)</option>
        <option value="250">Halfstump (ke)</option>
        <option value="187">Horseload (cuv)</option>
        <option value="187">Horseload (jw)</option>
        <option value="100">Twig (ke)</option>
        <option value="93.7">Half Horseload (jw)</option>
        <option value="62.7">Third Horseload (jw)</option>
        <option value="50">Halftwig (ke)</option>
        <option value="31.21">Sixth Horseload (jw)</option>
        <option value="25">Quartertwig (ke)</option>
        <option value="14.8">Rockfull (jw)</option>
        <option value="10">Sack (ke)</option>
        <option value="5">Halfsack (ke)</option>
        <option value="2.44">Boulderfull (jw)</option>
        <option value="2.2">Kilogram (E)</option>
        <option value="2">Twicebag (ke)</option>
        <option value="1.2">Rainworth (jw)</option>
        <option value="1">Bag (ke)</option>
        <option value="1">Pound (E)</option>
        <option value="0.5">Halfbag (ke)</option>
        <option value="0.2">Rainworth (jw)</option>
        <option value="0.04">Dropworth (jw)</option>
    </select>
    <br>
    value:
    <input id="amnt" type="text" value="1" onchange="createConversion()">
    <br>
    convert to:
    <select id="endunit" onchange="createConversion(), getValue()">
        <option value="10000">Treeweight (ke)</option>
        <option value="5000">Halftree (ke)</option>
        <option value="2000">Birch (ke)</option>
        <option value="2000">Boatload (st)</option>
        <option value="2000">Boatload (jw)</option>
        <option value="1000">Catch (st)</option>
        <option value="1000">Halfbirch (ke)</option>
        <option value="1000">Half Boatload (jw)</option>
        <option value="666.66">Third Boatload (jw)</option>
        <option value="500">Stump (ke)</option>
        <option value="400">Lift (st)</option>
        <option value="333.33">Sixth Boatload (jw)</option>
        <option value="250">Body (st)</option>
        <option value="250">Halfstump (ke)</option>
        <option value="187">Horseload (cuv)</option>
        <option value="187">Horseload (jw)</option>
        <option value="100">Twig (ke)</option>
        <option value="93.7">Half Horseload (jw)</option>
        <option value="62.7">Third Horseload (jw)</option>
        <option value="50">Halftwig (ke)</option>
        <option value="31.21">Sixth Horseload (jw)</option>
        <option value="25">Quartertwig (ke)</option>
        <option value="14.8">Rockfull (jw)</option>
        <option value="10">Sack (ke)</option>
        <option value="5">Halfsack (ke)</option>
        <option value="2.44">Boulderfull (jw)</option>
        <option value="2.2">Kilogram (E)</option>
        <option value="2">Twicebag (ke)</option>
        <option value="1.2">Rainworth (jw)</option>
        <option value="1">Bag (ke)</option>
        <option value="1">Pound (E)</option>
        <option value="0.5">Halfbag (ke)</option>
        <option value="0.2">Rainworth (jw)</option>
        <option value="0.04">Dropworth (jw)</option>
    </select>
    <br>
    output: 
    <span id="output"></span>
</body>
<script>

let output
var text
var select

function createConversion(){
    var startVal = document.getElementById("startunit").value;
    var convertAmnt = document.getElementById("amnt").value;
    var endVal = document.getElementById("endunit").value;
    output = ((startVal * convertAmnt) / endVal).toLocaleString(10);
    document.getElementById("output").innerHTML = output;
}

function getValue(){
    select = document.getElementById('endunit');
    text = select.options[select.selectedIndex].text;
    console.log(text);
}
</script>
